body {
    background-color: #adb5bd;
    margin: 0 auto;
}
.card {
    background-color: #343a40;
    color: white;
    width: 30rem;
    display: flex;
    margin: 2rem auto;
    border-radius: 0.3rem;
    box-shadow:  0 10px 20px #212529;
}
img {
    width: 200px;
    height: 200px;
}
.card-right {
    margin: 0rem 2rem;
}